<article class="event-item">
  <h3><a href="{{ event.conferenceUrl }}">{{ event.conference }}</a></h3>
  <div class="event-location">
    <img src="/img/map-marker-alt.svg" alt="">{{ event.location }}
  </div>
  {% for talkInfo in event.talks %}
    {% set talk = talkInfo.key | getTalkForEvent %}
    <details>
      <summary><span class="event-date">{{ talkInfo.date }}</span> {% if talkInfo.more %}{{ talkInfo.more }}{% else %}{{ talk.title }}{% endif %}</summary>
      <p>
        {% if talkInfo.more %}{{ talkInfo.more }}{% else %}{{ talk.description }}{% endif %}
      </p>
    </details>
  {% endfor %}
</article>
