---
layout: layouts/home.njk
tags:
  - nav
navtitle: Archive
permalink: /posts/
---

<div class="content">
  <h1>Archive</h1>

  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
