---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<h1 class="sia">sia.codes</h1>
<p class="lead">Freelance developer, international conference speaker, workshop instructor, and community organizer</p>

<h2>Latest 3 Posts</h2>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
