<div reversed class="postlist">
  {% for post in postslist | reverse %}
    <article class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
      <div class="postlist-image">
        <img src="{{post.data.featuredImagePrefix}}_300.jpg" alt="">
      </div>
      <p><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></p>
      <h3 class="postlist-title">
        <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
      </h3>
      <p>{{ post.data.description }}</p>
      <p>
        {% for tag in post.data.tags %}
          {%- if tag != "posts" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
          {%- endif -%}
        {% endfor %}
      </p>
    </article>
  {% endfor %}
</div>
