---
layout: layouts/banner_header.njk
---

<section class="flow">
  <p class="lead">Newsletter published on {{ date | readableDate }}</p>

  {{ content | safe }}

  <p><a href="/newsletter">← Newsletter Home</a></p>

<section class="flow">
