---
layout: layouts/home.njk
tags:
  - nav
navtitle: Blog
permalink: /posts/
---

<div class="content">
  <section>
    <h1>Blog</h1>
  </section>

  <section class="flow">
    <h2>Select posts</h2>
    <p>Jump to <a href="#all-posts">All posts</a></p>
    {% set postslist = collections.posts | getSelect %}
    {% include "postslist.njk" %}
  </section>

  <section>
    <h2>Filter by topic</h2>
    <p style="max-width: 600px;">
      {% set tags = collections.tagList | sort %}
      {% for tag in tags %}
        {%- if tag != "posts" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
    </p>
  </section>

  <section class="flow" id="all-posts">
    <h2>All posts</h2>
    {% set archivelist = collections.posts %}
    {% include "archivelist.njk" %}
  </section>
</div>
