---
layout: layouts/page-wide.njk
title: "Sia Karamalegos: Blog Archive"
pageTitle: "Blog"
description: Learn about web performance, web development, and Eleventy, with writing by Sia Karamalegos, performance engineer and web developer.
renderDescription: "Learn about web performance, web development, and Eleventy."
ctaText: Blogroll
ctaLink: '/rolls'
tags:
  - nav
navtitle: Blog
permalink: /posts/
---

<div class="content">
  <section class="flow">
    <p><a href="https://www.google.com/search?q=site%3Asia.codes%2Fposts+eleventy">Search with Google</a> or filter by topic:</p>
    <p>
      {% set tags = collections.tagList | sort %}
      {% for tag in tags %}
        {%- if tag != "posts" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
    </p>
  </section>
  <button class="button button-small" id="toggle-view" data-current="image">Simplified list</button>
  <script>
    document.querySelector("#toggle-view").addEventListener("click", e => {
      const current = e.target.dataset.current
      if (current === "image") {
        document.querySelector("#list-posts").classList.remove("hidden")
        document.querySelector("#image-posts").classList.add("hidden")
        e.target.innerText = "Detailed list"
        e.target.dataset.current = "list"
      } else {
        document.querySelector("#list-posts").classList.add("hidden")
        document.querySelector("#image-posts").classList.remove("hidden")
        e.target.innerText = "Simplified list"
        e.target.dataset.current = "image"
      }
    })
  </script>

  <section class="flow" id="image-posts">
    {% set postslist = collections.posts | mergeExternalPosts(external_writing) %}
    {% include "postslist.njk" %}
  </section>

  <section class="flow hidden" id="list-posts">
    {% set archivelist = collections.posts | mergeExternalPosts(external_writing) %}
    {% include "archivelist.njk" %}
  </section>
</div>
