---
layout: layouts/page.njk
title: "Sia Karamalegos: Thank you for your message"
pageTitle: Thank you for your message!
description: My goal is to respond within one business day.
templateClass: tmpl-post
date: 2024-08-02
---

<section class="flow">
  <p>I can't wait to get back to you.</p>
  <p>While you wait for your response, check out my <a href="/posts">blog</a>.</p>
</section>
