---
layout: layouts/page.njk
title: "Sia Karamalegos: Welcome to the sia.codes newsletter"
pageTitle: Welcome to the sia.codes newsletter
description: Thanks for signing up for my newsletter! You won't miss a post or a great tip again.
templateClass: tmpl-post
date: 2021-07-23
---

<section class="flow">
  <p class="lead">Thanks for signing up!</p>

  <figure>
    <img src="{% src 'markus-winkler-aId-xYRTlEc-unsplash_upohvs.jpg' %}"
      srcset="{% srcset 'markus-winkler-aId-xYRTlEc-unsplash_upohvs.jpg' %}"
      sizes="{% defaultSizes %}"
      alt="Typewriter with 'News' typed on the paper in the machine"
      width="4898" height="3265">
    <figcaption>Photo by <a href="https://unsplash.com/@markuswinkler?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Markus Winkler</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></figcaption>
  </figure>

  <p>You've made an A+ decision today. You won't miss a new post ever again. Pat yourself on the back! Go get a croissant to eat with your coffee!</p>

  <p>While you wait for your first newsletter, check out the <a href="/newsletter">newsletter archive</a>.</p>

</section>
