---
layout: layouts/banner_header.njk
title: "sia.codes now"
shortDescription: What Sia is up to now
tags:
  - nav
navtitle: Now
pageTitle: sia, now
description: What am I up to right now?
renderDescription: What am I up to right now?
ctaText: View on my omg.lol page
ctaLink: 'https://sia.omg.lol/now'
templateClass: tmpl-post
date: 2023-05-19
---

<div class="content" style="min-height: 1000px;">
  <section class="flow">
    <div class="now-container flow">
      <script src="https://omgnow.rknight.me/now.js?a=sia"></script>
    </div>
  </section>
</div>
