---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="content-680">
  <section>
    <h1 class="p-name">{{ title }}</h1>
    {{ content | safe }}
  </section>

  <p><a href="{{ '/' | url }}">← Home</a></p>

</div>
