---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="content-680">
  <h1>{{ title }}</h1>

  {{ content | safe }}

  <section>
    <h2>Webmentions</h3>
    {% set webmentionUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
    {% include 'webmentions.njk' %}
  </section>

  <p><a href="{{ '/' | url }}">← Home</a></p>

</div>
