---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="content-680 h-entry">
  <h1 class="p-name">{{ title }}</h1>
  <p class="p-summary lead">{{ description }}</p>
  <p class="byline"><time class="dt-published" datetime="{{ date }}">{{ date | readableDate }}</time> by <span class="h-card p-author"><img class="u-photo" width="24" height="24" src="/img/sia_96.jpg" alt="Sia Karamalegos" width="48" height="48" loading="lazy"> <a class="" href="https://sia.codes/">Sia Karamalegos</a></span></p>

  <section class="e-content">
  {{ content | safe }}
  </section>

  <section>
    <h2>Webmentions</h3>
    {% set webmentionUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
    {% include 'webmentions.njk' %}
  </section>

  <p><a href="{{ '/' | url }}">← Home</a></p>

</div>
